:root{
    --laranja-claro: #fa9712;
    --laranja-folha: #de7a0b;
    --laranja: #F57600;
    --marrom-claro:#AB5009;
    --marrom-avermelhado: #9E4910;
    --rosa-claro: #ffc7a2;
    --rosa-fundo: #fdf5d8;
}
@font-face {
    font-family: 'Raleway';
    src: url(font/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Hellomorgan';
    src: url(font/hellomorgan/HelloMorgan.ttf);
}
@font-face {
    font-family: 'Calinastiya';
    src: url(font/calinastiya/Calinastiya\ demo.ttf);
}
@font-face {
    font-family: 'Pinkstyle';
    src: url(font/pinky_style_2/Pinky\ Style.ttf);
}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--rosa-claro);
}
article{
    width: 80%;
    height: 940px;
    display: block;
    float: left;
    background-color: var(--laranja);
}

aside{
    width: 20%;
    height: 940px;
    display: block;
    float: left;
    background-color: var(--rosa-fundo);
}
aside h2{
    text-align: center;
    font-size: 80px;
    color: var(--marrom-avermelhado);
    font-family: 'Calinastiya';
}
#foods li {
    list-style-type: none;
    position:relative;
    margin-left: 30px;
    font-size: 15px;
    display: block;
    font-family: 'Raleway';
}
#foods li:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color: var(--marrom-avermelhado);
}
#foods h3{
    margin-left: 40px;
    font-size: 30px;
    color: var(--marrom-avermelhado);
    font-family: 'Raleway';
}
#foods{
    float: left;
}
#precos {
    margin-left: 165px;
    display: block;
}
#precos li{
    margin-left: 30px;
    font-size: 15px;
    list-style-type: none;
    font-family: Raleway;
}
#precos h3{
    margin-left: 40px;
    font-size: 30px;
    color: transparent;
}
#imgs{
    margin-top: 7px;
    margin-left: 5px;
}
#imgs img{
    width: 120px;
    height: 120px;
}
footer{
    width: 100%;
    height: 270px;
    display: block;
    float: left;
    background-color: var(--laranja-folha);
}
#footer1{
    float: left;
}

#h3g{
    font-family: pinkstyle;
    margin-left: 10px;
    margin-top: 5px;
}
#inputinsta{
    margin-top: 5px;
    width: 60px;
    height: 35px;
    margin-left: 10px;
}
#inputface{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margin-left: 25px;
}
.pfooter{
    margin-left: 10px;
}

.divg{
    width: 200px;
    height: 210px;
    background-color: #fdf5d8;
    margin-top: 20px;
    float: left;
    margin-left: 130px;
    border-radius: 50%;
}
#h3gg{
    font-family: Pinkstyle;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.imgss{
    width: 150px;
    height: 150px;
    margin-top: 5px;
    border-radius: 50%;
}
#orelhas{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;

}