:root{
    --laranja-claro: #fa9712;
    --laranja-folha: #de7a0b;
    --laranja: #F57600;
    --marrom-claro:#AB5009;
    --marrom-avermelhado: #9E4910;
    --rosa-claro: #ffc7a2;
}
@font-face {
    font-family: 'pinky';
    src: url(font/pinky_style_2/Pinky\ Style.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: pinky;
}
header{
    width: 100%;
    height: 170px;
    display: block;
    float: left;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: center right;
    font-family: 'pinky';
}
#logo{
    width: 183px;
    height: 183px;
    float: left;
}
header nav{
    color: var(--marrom-claro);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 818px;
}

article{
    width: 80%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--laranja);
}
header a{
    color: var(--marrom-claro);
    padding-left: 20px;
}
#icones{
    width: 120px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 13px;
}
.icons{
    width: 50px;

}
aside{
    width: 20%;
    height: 800px;
    display: block;
    float: left;
    background-color: white;
}
aside h2{
    text-align: center;
    font-size: 40px;
    color: var(--marrom-avermelhado);
}
#foods li {
    list-style-type: none;
    position:relative;
}
#foods li:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color: var(--marrom-avermelhado);
}

#foods li{
    margin-left: 30px;
    font-size: 20px;
    
}

#foods h3{
    margin-left: 40px;
    font-size: 30px;
    color: var(--marrom-avermelhado);
}
#foods{
    float: left;
}
#precos {
    margin-left: 250px;
}
#precos li{
    margin-left: 30px;
    font-size: 20px;
    list-style-type: none;
}
#precos h3{
    margin-left: 40px;
    font-size: 30px;
    color: transparent;
}
footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--laranja-folha);
}
